@tailwind base;
@tailwind components;
@tailwind utilities;
/* You can add global styles to this file, and also import other style files */

body {
    background-color: #f0f0f0; /* Light grey background */
    margin: 0; /* Removes default body margin */
    padding: 0; /* Removes default body padding */
    font-family: 'Arial', sans-serif; /* Optional: Add a global font */
  }